[Desktop Entry]
Name=NoSQLBooster for MongoDB
Exec=/opt/nosqlbooster4mongo/AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=nosqlbooster4mongo
StartupWMClass=NoSQLBooster for MongoDB
X-AppImage-Version=8.0.15
Comment=Essential Admin GUI for MongoDB
Categories=Development;
