/qbittorrent-*.tar.xz
/qBittorrent-release-*.tar.gz
/release-*.tar.gz
/qbittorrent-*.tar.gz
/qbittorrent-4.3.7.tar.xz.asc
/qbittorrent-4.3.8.tar.xz.asc
/qbittorrent-4.4.0.tar.xz.asc
/qbittorrent-4.4.1.tar.xz.asc
/qbittorrent-4.4.2.tar.xz.asc
/qbittorrent-4.4.3.tar.xz.asc
/qbittorrent-4.4.3.1.tar.xz.asc
/qbittorrent-4.4.4.tar.xz.asc
/qbittorrent-4.4.5.tar.xz.asc
/qbittorrent-4.5.0.tar.xz.asc
/qbittorrent-4.5.1.tar.xz.asc
/qbittorrent-4.5.2.tar.xz.asc
